<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Result</title>
    <link rel="stylesheet" href="/static/style2.css">
    <script src="https://kit.fontawesome.com/9740bfc9ee.js" crossorigin="anonymous"></script>
</head>
<body>

    <div class="last">
        <h2>SADLY! You May Have A Heart Failure Based On The Given Data</h2>

        <h3>However, Some precautionary steps can be taken  to promote heart health. <br> 
            Please keep in mind that these are not medical advice, but rather general suggestions:</h3>

        <p class="para"> <i class="fa-solid fa-arrow-right" style="color: #20b1d5;"></i> Eat a balanced diet <br>
            <i class="fa-solid fa-arrow-right" style="color: #20b1d5;"></i> Stay physically active <br>
            <i class="fa-solid fa-arrow-right" style="color: #20b1d5;"></i> Maintain a healthy weight <br>
            <i class="fa-solid fa-arrow-right" style="color: #20b1d5;"></i> Manage stress <br>
            <i class="fa-solid fa-arrow-right" style="color: #20b1d5;"></i> Avoid smoking and limit alcohol consumption <br>
            <i class="fa-solid fa-arrow-right" style="color: #20b1d5;"></i> Monitor blood pressure and cholesterol levels <br>
            <i class="fa-solid fa-arrow-right" style="color: #20b1d5;"></i> Get enough sleep <br>
            <i class="fa-solid fa-arrow-right" style="color: #20b1d5;"></i> Stay hydrated <br></p>
    </div>

  
    
</body>
</html>